[Desktop Entry]
Categories=Gtk;Audio;Music;Player;AudioVideo;
Comment=UPnP audio Control Point
Exec=eezupnp
GenericName=UPnP audio Control Point
Icon=/usr/share/pixmaps/eezupnp.xpm
Name=eezUPnP
StartupNotify=true
Terminal=false
Type=Application
Keywords=audio;upnp;

