[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=OpenPHT
Name[en_US]=OpenPHT
Exec=openpht
Icon=openpht
Comment[en_US]=OpenPHT
StartupNotify=true
Categories=AudioVideo
